#define base00 #181818
#define base01 #282828
#define base02 #383838
#define base03 #585858
#define base04 #b8b8b8
#define base05 #d8d8d8
#define base06 #e8e8e8
#define base07 #f8f8f8
#define base08 #ab4642
#define base09 #dc9656
#define base0A #f7ca88
#define base0B #a1b56c
#define base0C #86c1b9
#define base0D #7cafc2
#define base0E #ba8baf
#define base0F #a16946

## Ayu colors
#define common_accent   #FFCC66
#define common_bg       #1F2430
#define common_fg       #CBCCC6
#define common_ui       #707ABC

#define syntax_tag      #5CCFE6
#define syntax_func     #FFD580
#define syntax_entity   #73D0FF
#define syntax_string   #BAE67E
#define syntax_regexp   #95E6CB
#define syntax_markup   #F28779
#define syntax_keyword  #FFA759
#define syntax_special  #FFE6B3
#define syntax_comment  #5C6773
#define syntax_constant #D4BFFF
#define syntax_operator #F29E74
#define syntax_error    #FF3333

#define vcs_added       #A6CC70
#define vcs_modified    #77A8D9
#define vcs_removed     #F27983

*foreground:   common_fg
*background:   common_bg
*cursorColor:  common_accent

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       syntax_keyword
*color4:       syntax_entity
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      syntax_keyword
*color12:      syntax_entity
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06

! Fonts
!URxvt.xftAntialias: true
URxvt.font:         xft:Hack-Regular:pixelsize=14
URxvt.boldFont:     xft:Hack-Bold:pixelsize=14:weight=bold
URxvt.italicFont:   xft:Hack-RegularOblique:pixelsize=14:slant=italic

! UI
URxvt*borderless:     true
URxvt.internalBorder: 10
URxvt*scrollBar:      false
URxvt*saveLines:      20000
!URxvt*dynamicColors:  true
!URxvt*termName:       rxvt-unicode
URxvt*fading:         10

